<div class="productContainer">
    <h1>Bienvenido {{user.Nombre}} {{user.Apellido}} </h1>
    <p>Email:  {{user.email}}</p>
    {{#if isAdmin}}
    <p>Rol: Administrador</p>
    {{/if}}
    {{#if isUsuario}}
    <p>Rol: Usuario</p>
    {{/if}}
    <form action="/api/sessions/logout" method="get" class="form-group w-50">
        <button class="btn btn-outline-dark w-100">Logout</button>
    </form>


    <h2>LISTA DE PRODUCTOS:</h2>
        <div class="prodContainer">
            {{#each products.docs}}
            <div class="prodCard">
                <h4>Producto: {{this.title}}</h4>
                <p>Descripción: {{this.description}}</p>
                <p>Id: {{this._id}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <p>Código del producto: {{this.code}}</p>
                 <form action="/products" method="post">
                    <input type="text" name="prodId" value="{{this._id}}" style="display: none;">
                    <button>Agregar al carrito</button>
                </form>
            </div>
           
            {{/each}}

        </div>
        <div class="pagination">
            <a href="{{respuesta.prevLink}}">prevPage</a>
            <p>{{respuesta.page}}</p>
            <a href="{{respuesta.nextLink}}">nextPage</a>
        </div>
</div>