<div>
    <h1>Pagina de usuarios (solo admins)</h1>
    {{#each users}}
        <p>Nombre: {{this.Nombre}} - {{this.Apellido}}</p>
        <p>Email:  {{this.email}}</p>
        <hr>
    {{/each}}
    <center>
        {{#if hasPrevPage}}
            <a href="/users?numPage={{prevPage}}">Anterior</a>
        {{/if}}
        <label>{{page}}</label>
        {{#if hasNextPage}}
            <a href="/users?numPage={{nextPage}}">Siguente</a>
        {{/if}}
    </center>
</div>